.calendar {
    margin-top: 7%;
}

.task-rows {
    margin-top: 40px;
}

.cal-cols {
    line-height: 1.4;
}

.cal-line {
    /*margin-top: 0.2rem;*/
    margin-bottom: 0.5rem;
    text-align: center;
}

.cal-line:last-child {
    margin-bottom: 1rem;
}

.flex {
    display: flex;
}

.task {
    min-width: 8.33333333333%;
    width: 25%;
    margin-left: 1%;
    float: left;
    display: table;
    position: relative;
    line-height: 21px;
}

/*.task div {
    display: table-cell;
}*/

.busy {
    border-radius: 5px;
}

.green {
    background-color: green;
}

.blue {
    background-color: #33C3F0;
}

.drag svg {
    display: none;
    vertical-align: middle;
}

.drag-left, .drag-right {
    width: 24px !important;
    user-select: none;
    text-align: center;
}

.drag-left {
    left: 0;
}

.drag-right {
    right: 0;
}

.task-text {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
}

.task-text input {
    background-color: transparent;
    border: none;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0;
    height: inherit;
    font-size: 1.2rem;
}

.cal-footer {
    margin-top: 0.3rem;
}

.cal-time-slice {
    margin-left:33%;
    width: 33%;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.cal-footer .column {
    border-right: 1px solid black;
    text-align: center;
}

.action-bar {
    margin-top: 40px;
}

.task-opts {
    position: absolute;
    right: 0;
    top: -17px;
    width: 100%;
}

.task-opts div {
    float: right;
    width: 17px;
}

.task-opts svg {
    margin-left: -6px;
}

.task-opts .opts {
    display: none;
}

.milestone {
    position: absolute;
    right: -19px;
    top: 3px;
}

.milestone-line {
    position: absolute;
    right: 19px;
}

.milestone-line svg {
    height: 15px;
    width: 0px;
}

.milestone-line svg line {
    stroke: black;
    stroke-width: 1px;
    stroke-dasharray: 0.2rem;
}

.mtop-20 {
    margin-top: 20px;
}

.milestone .day-helper {
    position: absolute;
    top: -19px;
    width: 100%;
    font-size: 1.3rem;
}

.task-opts .day-helper {
    line-height: 100%;
    font-size: 1.3rem;
    margin-right: 4px;
}

.cal-cols .one.column,
.cal-cols .one.columns    { width: 8.33333333333%; margin-left: 0; }
.cal-cols .two.columns    { width: 16.6666666667%; margin-left: 0; }
.cal-cols .three.columns  { width: 25%; margin-left: 0;            }
.cal-cols .four.columns   { width: 33.3333333333%; margin-left: 0; }
.cal-cols .five.columns   { width: 41.6666666667%; margin-left: 0; }
.cal-cols .six.columns    { width: 50%; margin-left: 0;            }
.cal-cols .seven.columns  { width: 58.3333333333%; margin-left: 0; }
.cal-cols .eight.columns  { width: 66.6666666667%; margin-left: 0; }
.cal-cols .nine.columns   { width: 75%; margin-left: 0;            }
.cal-cols .ten.columns    { width: 83.3333333333%; margin-left: 0; }
.cal-cols .eleven.columns { width: 91.6666666667%; margin-left: 0; }
.cal-cols .twelve.columns { width: 100%; margin-left: 0;           }