<div class="milestone">
    <div class="milestone-line">
        <svg xmlns="http://www.w3.org/2000/svg">
            <line x1="0" y1="50%" x2="100%" y2="50%" />
        </svg>
    </div>
    <i data-feather="disc"></i>
    <div class="day-helper"></div>
</div>