<div class="row cal-cols cal-line mtop-20">
  <div class="twelve columns">
      <div class="task busy blue">

        <div class="drag drag-left">
          <i data-feather="chevron-left"></i>  
        </div>
        
        <div class="task-text">
            <input class="u-full-width" type="text" placeholder="give me a name">
        </div>

        <div class="drag drag-right">
          <i data-feather="chevron-right"></i>          
        </div>
        
        <div class="task-opts">            
            <div class="opts del-task">
                <i data-feather="x-circle"></i>
            </div>
            <div class="opts clone-task">
                <i data-feather="copy"></i>
            </div>
            <div class="opts add-milestone">
                <i data-feather="plus-circle"></i>
            </div>
            <div class="day-helper">24</div>            
        </div>

      </div>
  </div>
</div>